{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="GET" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="color:#17a2b8;"><b>Predizione del benessere</b></legend>
                <div class="form-group">
                    <b>{{ form.eta.label }}</b>
                    <small class="text-muted">{{ form.eta.description }}</small>
                    {{ form.eta(class_="form-control") }}

                    {% for error in form.eta.errors %}
                    <span class="label label-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                <b>{{ form.genere.label }}</b>
                <br>
                <table>
                {% for subfield in form.genere %}
                  <tr>
                      <td>{{ subfield }}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>{{ subfield.label }}</td>
                  </tr>
                  <tr>

                  </tr>
                {% endfor %}
                </table>
                </div>
                <div class="form-group">
                    <b>{{ form.residenza2.label }}</b>
                    <small class="text-muted">{{ form.residenza2.description }}</small>
                    {{ form.residenza2(class_="form-control") }}

                    {% for error in form.residenza2.errors %}
                    <span class="label label-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <b>{{ form.componenti.label }}</b>
                    <small class="text-muted">{{ form.componenti.description }}</small>
                    {{ form.componenti(class_="form-control") }}

                    {% for error in form.componenti.errors %}
                    <span class="label label-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                <b>{{ form.stato_civile.label }}</b>
                <br>
                <table>
                {% for subfield in form.stato_civile %}
                  <tr>
                      <td>{{ subfield }}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>{{ subfield.label }}</td>
                  </tr>
                  <tr>

                  </tr>
                {% endfor %}
                </table>
                </div>
            </fieldset>
            <div class="form-group , text-center">
                <b>{{ form.submit(class="btn btn-info btn-lg") }}</b>
            </div>
        </form>
    </div>
    <div>
        <table class="table table-bordered">
        <thead>
        <tr class="table-active">
            <th scope="col">Anno di nascita</th>
            <th scope="col">Genere</th>
            <th scope="col">Residenza</th>
            <th scope="col">Componenti</th>
            <th scope="col">Stato civile</th>
            <th scope="col">Predizione</th>

        </tr>
        </thead>
        <tbody>
            <tr>
            <td>{{ age }}</td>
            {% if gender == 2 %}
            <td>femminile</td>
            {% elif gender == 1 %}
            <td>maschile</td>
            {% else %}
            <td>preferisco non specificare</td>
            {% endif %}
            <td>{{ place }}</td>
            <td>{{ componenti }}</td>
            {% if stato_civile == 1 %}
            <td>celibe/nubile</td>
            {% elif stato_civile == 2 %}
            <td>convivente</td>
            {% elif stato_civile == 3 %}
            <td>sposato/a</td>
            {% elif stato_civile == 4 %}
            <td>vedovo/a</td>
            {% elif stato_civile == 5 %}
            <td>separato/a</td>
            {% else %}
            <td>divorziato/a</td>
            {% endif %}
            <td style="color:#17a2b8; font-size: 25px;"><b>{{ prob }}<b></td>
            </tr>
        </tbody>
        </table>
    </div>
    <div>
    <table class="table table-bordered">
        <thead>
        <tr class="table-active">
            <th scope="col">Fascia di reddito di riferimento</th>
            <th scope="col" style="width: 65%;">Predizione</th>

        </tr>
        </thead>
        <tbody>
            <tr>
            <td style="color:#17a2b8; font-size: 28px;"><b>Fascia 1</b></td>
            <td><b style="color:#17a2b8; font-size: 25px;">1</b><b style="color:#fafafa; font-size: 25px;">22</b> Reddito inferiore ai 15000 €
            </td>
            </tr>
            <tr>
            <td style="color:#17a2b8; font-size: 28px;"><b>Fascia 2</b></td>
            <td><b style="color:#17a2b8; font-size: 25px;">2</b><b style="color:#fafafa; font-size: 25px;">22</b> Reddito compreso tra i 15001 e 22000 €<br><br>
            <b style="color:#17a2b8; font-size: 25px;">3</b><b style="color:#fafafa; font-size: 25px;">22</b> Reddito compreso tra i 22001 e 28000 €</td>
            </tr>
            <tr>
            <td style="color:#17a2b8; font-size: 28px;"><b>Fascia 3</b></td>
            <td><b style="color:#17a2b8; font-size: 25px;">4</b><b style="color:#fafafa; font-size: 25px;">22</b> Reddito compreso tra i 28001 e 35000 €<br><br>
            <b style="color:#17a2b8; font-size: 25px;">5</b><b style="color:#fafafa; font-size: 25px;">22</b> Reddito compreso tra i 35001 e 42000 €<br><br>
            <b style="color:#17a2b8; font-size: 25px;">6</b><b style="color:#fafafa; font-size: 25px;">22</b> Reddito compreso tra i 42001 e 49000 €<br><br>
            <b style="color:#17a2b8; font-size: 25px;">7</b><b style="color:#fafafa; font-size: 25px;">22</b> Reddito compreso tra i 49001 e 55000 €<br><br></td>
            </tr>
            <tr>
            <td style="color:#17a2b8; font-size: 28px;"><b>Fascia 4</b></td>
            <td><b style="color:#17a2b8; font-size: 25px;">8</b><b style="color:#fafafa; font-size: 25px;">22</b> Reddito compreso tra i 55001 e 75000 €</td>
            </tr>
            <td style="color:#17a2b8; font-size: 28px;"><b>Fascia 5</b></td>
            <td><b style="color:#17a2b8; font-size: 25px;">9</b><b style="color:#fafafa; font-size: 25px;">22</b> Reddito superiore ai 75001 €</td>
            </tr>
        </tbody>
        </table>
    </div>
{% endblock content %}