{% extends "layout.html" %}
{% block content %}

<h1 class="text-center" style="color:#17a2b8; font-size: 32px;"><br><b>CENSUS data graphs</b><br></h1>
<br><br>
<table class="table table-borderless">
    <tr>
        <td>
            <h4 class="text-center">Prezzo medio di vendita delle case</h4>
            <h6 class="text-center" style="color:#787878;">Per appartamenti nuovi di 100 mq in zona semicentrale nei capoluoghi</h6>
           <img src="{{ url_for('static', filename='prezzi_abitaz.png') }}" alt="Spese famiglie italiane" width="482" height="416">
        </td>
        <td>
            <h4 class="text-center">Internet >= 100 Mbit/s - abbonamenti</h4>
            <h6 class="text-center" style="color:#787878;">Accessi broadband - In % sulla popolazione residente</h6><br>
           <img src="{{ url_for('static', filename='internet_map.png') }}" alt="Spese famiglie italiane" width="558" height="418">
        </td>
    </tr>
    <tr>

    </tr>
</table>

{% endblock content %}